version: '3.8'

services:
  app:
    build: .
    container_name: todo-app
    ports:
      - "3001:3001"
    env_file:
      - .env
    environment:
      - MONGO_URI=${MONGO_URI}
    restart: unless-stopped
